# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries used by Data Scientist
- List Data Science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

**Python**
1. Pandas
2. NumPy
3. Scikit-learn

**R**

4. ggplot2
5. dplyr
6. caret

| Data Science Tools |
|--------------------|
|  Jupyter Notebook  |
|      RStudio       |
|       Githug       |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
min = 200
hrs = min / 60
print("200 minutes are", hrs , "hours")

200 minutes are 3.3333333333333335 hours

## Author
Renzo David Ball√≥n Gallegos